[Unit]
Description="Run camera_spi.service every 5 seconds"

[Timer]
OnBootSec=30
OnUnitActiveSec=5
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
